<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Training Admin Assistance - Home</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Training Admin Assistance - Home</h1>
        <h2>1. Visit <a href="#/request">Request page - to request for the training </a></h2>
        <h2>2. Visit <a href="#/report">Report page - To view the report of the page</a></h2>
        <h2>3. Visit <a href="#/about">Normal page</a></h2>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>